/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #4d004d;
}
h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color:  white;
  text-align: right;
}

h2 {
  border-width:5px;
  border-top-style:double;
  border-bottom-style: solid;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color:  white;
  text-align: left;
}

P {
  font-family: "Times New Roman", Times, serif;
  color:  Blue;
  font-size: 20px;
  color:  white;
  text-align: left;
  margin: 30px;
}

li {
    font-family: "Times New Roman", Times, serif;
    background-color: rgba(255, 255, 255, 0.9);
    color:  white;
    text-align: center;
    font-size: 15px;
    width: 500px;
    border: 3px solid white;
    padding: 5px;
    margin: 5px;
}
